In [3]:
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data

--2022-09-26 02:40:31--  http://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 3974305 (3.8M) [application/x-httpd-php]
Saving to: ‘adult.data’

adult.data          100%[===================>]   3.79M  6.81MB/s    in 0.6s

2022-09-26 02:40:31 (6.81 MB/s) - ‘adult.data’ saved [3974305/3974305]

In [10]:
!wc -l adult.data
#how many lines it contains

32562 adult.data

In [12]:
!echo "age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class" > header.csv

In [13]:
!cat header.csv adult.data > adult.csv

In [15]:
!head -n 1 adult.csv

age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,native-country,class

In [16]:
!sed "s/<string to replace>/<string to replace it with>/g" <source_file> > <target_file>.

/bin/bash: -c: line 0: syntax error near unexpected token `>'
/bin/bash: -c: line 0: `sed "s/<string to replace>/<string to replace it with>/g" <source_file> > <target_file>.'

In [18]:
!grep ", ?," adult.csv | wc -l

2399

In [20]:
!sed "s/, ?,/,,/g" adult.csv >  new.adult.csv

/bin/bash: new.adult.csv: command not found